.container{
    display: flex;
    max-width: 1000px;
    margin: auto;
    justify-content: center;
}
.Partyimage{
    height: 1500px;
    width: 1000px;
}
.Box1{
    margin: 50px;
    background-color: rgba(255, 255, 255, 0.096);
    margin: 50px;
    width: 400px;
    height: 2500px;
    padding-left: 50px;
}
.Box2{
    margin: 50px;
    background-color: rgba(255, 255, 255, 0.096);
    margin: 50px;
    width: 1000px;
    height: 2500px;
    padding-left: 25px;
    padding-right: 25px;
    min-width: 1000px;    
}
.Box2H{
    margin: 50px;
    background-color: #2d2d30;
    margin: 50px;
    width: 1000px;
    height: 2500px;
    padding-left: 50px;
    min-width: 1000px;
}
    .Box2Party{
    margin: 50px;
    background-color: #2d2d30;
    margin: 50px;
    width: 1000px;
    height: 2500px;
    padding-left: 50px;
    min-width: 1000px;
    animation: animate 5s ease infinite;
} @keyframes animate{
    10%{
        background-color: yellowgreen;

}20%{
        background-color: yellow;

}30%{
        background-color: orange;

} 40%{
        background-color: red;

}50%{
        background-color: purple;

}60%{
        background-color: pink;

} 70%{
        background-color: peachpuff;

}80%{
        background-color: yellow;

}90%{
        background-color: yellowgreen;}
}
.button{
    background-color: brown;
    color: white;
    height: 40px;
    width: 300px;
    border: none;
    margin-top: 50px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 25px;

}
.button:hover{
    background-color: red;
    color: white;
    height: 40px;
    width: 300px;
    border: none;
    margin-top: 50px;
    margin-left: 5px;
    cursor: pointer;
    border: 10px;
    font-size: 20px;
    transition: 0.2s;

}
.button:not(hover){
    background-color: brown;
    color: white;
    height: 40px;
    width: 300px;
    border: none;
    margin-top: 50px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 25px;
    transition: 0.1s;

}

.button:focus{
    background-color: white;
    color: red;
    height: 40px;
    width: 300px;
    border: none;
    margin-top: 50px;
    margin-left: 5px;
    cursor: pointer;
    border: 10px;
    font-size: 20px;
    transition: 0.3s;

}
html{
    background-color: #2d2d30;
}
 
.img{
    border-radius: 20px;
    padding-top: 5px;
    cursor: pointer;
    max-width: 300px;
}
.socialtext{
    font-size: 40px;
    padding-top: 40px;
    font-family: sans-serif;
    color: white;
}
.Header{
    font-size: 50px;
    font-family: sans-serif;
    color: white;
}
.HobbyText{
    font-size: 23px;
    padding-right: 30px;
    padding-left: 10px;
    font-family: sans-serif;
    color: white;
}
.DND{
    max-width: 990px;
    padding-left: 5px;
}
.selfie{
    max-width: 350px;
    padding-right: 50px;
}
.background{
    animation: animate 5s ease infinite;
} @keyframes animate{
    10%{
        background-color: yellowgreen;

}20%{
        background-color: yellow;

}30%{
        background-color: orange;

} 40%{
        background-color: red;

}50%{
        background-color: purple;

}60%{
        background-color: pink;

} 70%{
        background-color: peachpuff;

}80%{
        background-color: yellow;

}90%{
        background-color: yellowgreen;}