.container{
    display: flex;
    padding-left: 240px;
}
.Box1{
    margin: 50px;
    background-color: lightgray;
    margin: 50px;
    width: 560px;
    height: 2500px;
    padding-left: 50px;
}
.Box2{
    margin: 50px;
    background-color: lightgray;
    margin: 50px;
    width: 1200px;
    height: 2500px;
    padding-left: 50px;
}
.button{
    background-color: brown;
    color: white;
    height: 40px;
    width: 400px;
    border: none;
    margin-top: 50px;
    margin-left: 75px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 25px;

}
.button:hover{
    background-color: red;
    color: white;
    height: 40px;
    width: 400px;
    border: none;
    margin-top: 50px;
    margin-left: 75px;
    cursor: pointer;
    border: 10px;
    font-size: 20px;

}
 
.img{
    border-radius: 20px;
    padding-top: 5px;
    cursor: pointer;
    max-width: 500px;
}
.socialtext{
    font-size: 40px;
    padding-top: 40px;
}
.Header{
    font-size: 60px;
}
.HobbyText{
    font-size: 25px;
}
.DND{
    max-width: 1160px;
}
.selfie{
    max-width: 520px;
}
.background{
    animation: animate 5s ease infinite;
} @keyframes animate{
    10%{
        background-color: yellowgreen;

}20%{
        background-color: yellow;

}30%{
        background-color: orange;

} 40%{
        background-color: red;

}50%{
        background-color: purple;

}60%{
        background-color: pink;

} 70%{
        background-color: peachpuff;

}80%{
        background-color: yellow;

}90%{
        background-color: yellowgreen;}